.story {
  &__pictures {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 4;
  }
  &__content {
    background-color: orangered;
    grid-column: col-end 4 / full-end;
  }
}
